---
layout: default
---
<section class="post">
    <div class="flex-row-between">
        <a href="{{ site.url }}{{ site.baseurl }}/">« Home</a>
      <button title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
        <div></div>
      </button>
    </div>
</section>

<div>
    {% for post in site.posts %}

    {% capture month %}
        {{ post.date | date: '%m%Y' }}
    {% endcapture %}
    
    {% capture nmonth %}
        {{ post.next.date | date: '%m%Y' }}
    {% endcapture %}
    
    {% if month != nmonth %}
        {% if forloop.index != 1 %}
            </ul>
        {% endif %}
        
        <h3>{{ post.date | date: '%B %Y' }}</h3>
        <ul>
        
        {% endif %}
        <div class="posts" >    
            <li>
                <a href="{{ site.baseurl }}{{ post.url }}"> 
                    {{ post.title }}
                </a> 
                <time>
                    {{ post.date | date: "%e %B %Y" }}
                </time>
            </li>
        {% endfor %}
    </div>

</div>
